<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productos</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/favs.css">
</head>

<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>

    <main>

        <div id="jumpstore-page">
            <div class="container">
                <div class="jumpstore-content">
                    <div class="select-results-flex">
                        <div class="results-container">
                            <p></p>
                        </div>
                    </div>
                    <div class="products-filter">
                        <div class="products-container">

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>

    <% if (locals.usuario) { %>
        <script src="/js/favs.js"></script>
    <% } %>


</body>

</html>