<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/listProducts.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>

    <div class="sidenav-filter">
    
        <div class="overlay-content-filter">
            <div class="search-close-filter">
                <div class="title-filter">
                    <h2>Filtros</h2>
                </div>
                <button class="closebtn-filter">&times;</button>
            </div>
            <div class="filter-body">
                <div class="each-filter-mobile-mobile">
                    <p class="categoria">marca</p>
                    <div class="control-group">
                        <label class="control control-checkbox">
                            adidas
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            fila
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            nike
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            vans
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                    </div>
                </div>

                <div class="each-filter-mobile">
                    <p class="categoria">talle</p>
                    <div class="control-group talle">
                        <label class="control control-checkbox">
                            35 - 37 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            38 - 40 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            41 - 43 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            44 - 45 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>

                    </div>
                </div>

                <div class="each-filter-mobile">
                    <p class="categoria">precio</p>
                    <div class="control-group precio">
                        <label class="control control-checkbox">
                            $5000 - $10000
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            $10000 - $15000
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            m치s
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <main>

        <div id="jumpstore-page" >
            <div class="container">
                <div class="jumpstore-content">
                    <div class="select-results-flex">
                        <div class="select-filter-container">
                            <div class="select-container">
                                <select id="sort-order">
                                    <option value=""
                                        <% if (order == undefined ) { %>
                                            selected
                                        <% } %>
                                    >Relevantes</option>

                                    <option value="OrderByPriceASC"
                                        <% if (order == "OrderByPriceASC" ) { %>
                                            selected
                                        <% } %>
                                    >Precio m치s bajo</option>

                                    <option value="OrderByPriceDESC"
                                        <% if (order == "OrderByPriceDESC" ) { %>
                                            selected
                                        <% } %>
                                    >Precio m치s alto</option>
                                    <option value="OrderByReleaseDateASC"
                                    <% if (order == "OrderByReleaseDateASC" ) { %>
                                        selected
                                    <% } %>
                                >M치s nuevas</option>
                                </select>
                            </div>
                            <div class="filter-container">
                                <button class="btn">Filtro</button>
                            </div>
                        </div>
                        <div class="results-container">
                            <p> <strong><%= articulos.length %></strong> Resultados</p>
                        </div>
                    </div>
                    <div class="products-filter">
                        <div class="filter-container-desktop">
                            <div class="each-filter">
                                <p class="categoria">marca</p>
                                <div class="filter-scroll">
                                    <div class="control-group">
                                        <label class="control control-checkbox">
                                            adidas
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            fila
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            nike
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            vans
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="each-filter">
                                <p class="categoria">talle</p>
                                <div class="filter-scroll">
                                    <div class="control-group talle">
                                        <label class="control control-checkbox">
                                            35 - 37 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            38 - 40 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            41 - 43 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            44 - 45 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>

                                    </div>
                                </div>
                            </div>

                            <div class="each-filter">
                                <p class="categoria">precio</p>
                                <div class="filter-scroll">
                                    <div class="control-group precio">
                                        <label class="control control-checkbox">
                                            $5000 - $14999
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            $15000 - MAX
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products-container">
                            <%#= articulos.indexOf(articulo) + 1 %>
                            <% articulos.forEach(articulo => { %>
                                <div class="product-container">
                                    <a href="/products/detail/<%= articulo.id %>" class="link-detail">
                                        <div class="product">
                                            
                                            <div class="info-product">
                                                <div class="img-container">
                                                    <a href="/products/detail/<%= articulo.id %>">
                                                        <img src="/images/zapatillas/<%= articulo.image[0] %>" alt="producto" class="img-product">
                                                    </a>
                                                    
                                                </div>
                                                <div class="text">
                                                    <div class="sneaker-name">
                                                        <p><%= articulo.name %></p>
                                                    </div>
                                                    <div class="price">
                                                        <p>$<%= toThousand(articulo.price) %></p>
                                                    </div>                                     
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>  
                            <% }); %>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
    <script src="/js/listProducts.js"></script>

</body>
</html>