<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administacion de productos</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/administratorToolsProducts.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>
   

    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>

</body>
</html>