<!DOCTYPE html>
<html lang="en">
<head>

    <title>Home</title>
    <%- include("./partials/head") %>
    <link rel='stylesheet' href='/css/home.css'>
</head>
<body>
    <%- include("./partials/header") %>
    
    <%- include("./partials/menuMobile") %>

    <main>

        <div class="slider">

            <ul>
                <li>
                    <a href="/products">
                        <img src="images/contenido-pagina/slider1.png" alt="Ofertas">
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <img src="images/contenido-pagina/slider2.png" alt="Travis Scoot">
                    </a>
                </li>
                <li>
                    <a href="/products/detail/1">
                        <img src="images/contenido-pagina/slider3.png" alt="Addidas yezzy">
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <img src="images/contenido-pagina/slider4.jpg" alt="Fila">
                    </a>
                </li>

            </ul>

        </div>

        <div class="container-muestra">
            <ul class="ul-muestra">
                <li>
                    <a href="/products"> 
                        <p class="texto-muestra">New Adiddas</p>
                        <img src="images/contenido-pagina/muestra1.png" >
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <p class="texto-muestra">Nike ineditas</p>
                        <img src="images/contenido-pagina/muestra2.jpg">
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <p class="texto-muestra">Mucho más..</p>
                        <img src="images/contenido-pagina/muestra3.png">
                    </a>
                </li>
            </ul>
        </div>

        <div class="gifcard-container">
            <img class="gifcard" src="images/contenido-pagina/gifcard.jpg" alt="gifcard">
        </div>

            <div class="wrapper">
                <h1 href="#">Most Sold Sneakers</h1>
            </div>

            <section class="container-hot">


                <div class="image" >
                    <a href="/products/detail/1">
                            <img class="image__img" src="images/zapatillas/nike-mas-vendido.jpg" alt="Nike AIRMAX 97 METALLIC GOLD">
                    </a>
                    <div class="description-product">
                        <div class="image__title">Nike airmax 97 mettallic gold</div>
                            <p class="image__description">
                            $4
                            </p>
                    </div>
                </div>
                <div class="image">
                    <a href="/products/detail/1">
                    <img class="image__img" src="images/zapatillas/jorda-jbalbin.jpeg" alt="Jordan 1 Retro High J Balvin">
                </a>
                <div class="description-product">
                    <div class="image__title">Jordan 1 retro high J Balvin</div>
                    <p class="image__description">
                        $4
                    </p>
                </div>
                </div>
            </section>
            <div class="wrapper">
                <h1 href="#">Newest Drop</h1>
            </div>

            <section class="container-new">
                <% for (let i = articulos.length -1 ; i > articulos.length - 3; i--) {%>
            
                    <% let articulo = articulos[i] %>
                <div class="image">
                    <a href="/products/detail/<%= articulo.id %>">
                    <img class="image__img" src="/images/zapatillas/<%= articulo.image[0] %>" alt="Vans old skool pink">
                    </a>
                    <div class="description-product">
                        <div class="image__title"><%= articulo.name %></div>
                        <p class="image__description">
                            $<%= articulo.price %>
                        </p>
                    </div>
                </div>
                <% }; %>
            </section>
            
    </main>
    
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
</body>
</html>

