<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/listProducts.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>

    <div class="sidenav-filter">
    
        <div class="overlay-content-filter">
            <div class="search-close-filter">
                <div class="title-filter">
                    <h2>Filtros</h2>
                </div>
                <button class="closebtn-filter">&times;</button>
            </div>
            <div class="filter-body">
                <div class="each-filter-mobile-mobile">
                    <p class="categoria">marca</p>
                    <div class="control-group">
                        <label class="control control-checkbox">
                            adidas
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            fila
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            nike
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            vans
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                    </div>
                </div>

                <div class="each-filter-mobile">
                    <p class="categoria">talle</p>
                    <div class="control-group talle">
                        <label class="control control-checkbox">
                            35 - 37 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            38 - 40 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            41 - 43 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            44 - 45 
                                <input type="checkbox"/>
                            <div class="control_indicator"></div>
                        </label>

                    </div>
                </div>

                <div class="each-filter-mobile">
                    <p class="categoria">precio</p>
                    <div class="control-group precio">
                        <label class="control control-checkbox">
                            $5000 - $10000
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            $10000 - $15000
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            más
                                <input type="checkbox" />
                            <div class="control_indicator"></div>
                        </label>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <main>

        <div id="jumpstore-page" >
            <div class="container">
                <div class="jumpstore-content">
                    <div class="select-results-flex">
                        <div class="select-filter-container">
                            <div class="select-container">
                                <select name="sort-order" id="">
                                    <option value="" class="most-relevant">Más relevantes</option>
                                    <option value="" class="lowest-price">Precio más bajo</option>
                                    <option value="" class="highest-price">Precio más alto</option>
                                    <option value="" class="highest-price">A - Z</option>
                                    <option value="" class="highest-price">Z - A</option>
                                </select>
                            </div>
                            <div class="filter-container">
                                <button class="btn">Filtro</button>
                            </div>
                        </div>
                        <div class="results-container">
                            <p> <strong>15.000</strong> Resultados</p>
                        </div>
                    </div>
                    <div class="products-filter">
                        <div class="filter-container-desktop">
                            <div class="each-filter">
                                <p class="categoria">marca</p>
                                <div class="filter-scroll">
                                    <div class="control-group">
                                        <label class="control control-checkbox">
                                            adidas
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            fila
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            nike
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            vans
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="each-filter">
                                <p class="categoria">talle</p>
                                <div class="filter-scroll">
                                    <div class="control-group talle">
                                        <label class="control control-checkbox">
                                            35 - 37 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            38 - 40 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            41 - 43 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            44 - 45 
                                                <input type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>

                                    </div>
                                </div>
                            </div>

                            <div class="each-filter">
                                <p class="categoria">precio</p>
                                <div class="filter-scroll">
                                    <div class="control-group precio">
                                        <label class="control control-checkbox">
                                            $5000 - $10000
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            $10000 - $15000
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            más
                                                <input type="checkbox" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products-container">
                            
                            <% let articulosArr = articulos; %>
                            <% articulos.forEach(articulo => { %>
                              <%- include("./partials/listProducts", {nombre: articulo.nombre, descrip: articulo.descrip, linkID : articulosArr.indexOf(articulo) + 1, precio: articulo.precio, imagen: articulo.img[0]}) %>  
                            <% }); %>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
    <script src="/js/listProducts.js"></script>

</body>
</html>