<div class="product-container">
    <div class="product">
        <div class="info-product">
            <div class="img-container">
                <a href="/products/detail/<%= linkID %>">
                    <img src="<%= imagen %>" alt="producto" class="img-product">
                </a>
            </div>
            <div class="text">
                <div class="sneaker-name">
                    <a class="link" href="/products/detail/<%= linkID %>">ZAPATILLA <%= nombre %></a>
                </div>
                <div class="price">
                    <p><%= precio %></p>
                </div>                                    
            </div>
        </div>
    </div>
</div>