<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administracion de productos</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/administratorToolsProducts.css">
</head>

<body>
    <%- include("./partials/header") %>
    
    <%- include("./partials/menuMobile") %>

    <div class="encabezado_content">
       <div class="titulo">Productos de Jumpstore</div>
       <div class="ubicacion_content">
           <ul>
               <li><a href="/administrator">Panel de administracion</a></li>
               <li>></li>
               <li>Productos</li>
           </ul>
       </div>
    </div>
    <div class="conteiner_general">
    <div class="form_content">
        <ul class="form_ul">
        <li class="titulo_form">Listado de productos: <%= articulos.length %> </li>
        <li>
            <a href="/productCreate" class="add_edit_product">Nuevo</a>
        </li>
    </ul>
     </div>
     <div class="conteiner_general_list">
     <div class="titulos-container">
        <ul class="titulos_conteiner">
            <li>Editar/Borrar</li>
            <li>Nombre</li>
            <li>Imagen</li>
            <li>Precio</li>
        </ul>
    </div>
    <div class="products-container">
    <% articulos.forEach(articulo => { %> 
     <div class="product-container">  
        <ul class="lista_conteiner">
            <a href="/products/detail/<%= articulo.id %>" class="toDetail">
                <li class="liEditar"><a href="/products/edit/<%= articulo.id %>" class="add_edit_product">Editar</a>
                    <form method="POST" action="/products/delete/<%= articulo.id %>?_method=DELETE">
                        <button type="submit" id="delete_product" class="add_edit_product">Borrar</button>
                    </form>
                </li>
                <li><%= articulo.name %></li>
                <li><img src="images/zapatillas/<%= articulo.image[0] %>"></li>
                <li>$<%= toThousand(articulo.price)  %></li>
                
            </a>


        </ul>
    </div>
    <% }); %>
</div>
</div>
    </div>
<%- include("./partials/footer") %>
<%- include("./partials/scripts") %>
<script src="/js/adminProducts.js"></script>
</body>
</html>