<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include("./partials/header") %>

    <%- include("./partials/menuMobile") %>
    <main>
        <div class="img-form">
            <img src="images/contenido-pagina/sneakers-fondo-form.png" alt="fondo formulario">
        </div>
        <div class="container">
            <div id="jumpstore-form">
                <form class="formulario">
                    <h2 style="text-transform: uppercase;" class="txt-title">Entrar</h2>
                    <h2 class="txt-content">¡Bienvenido de nuevo! Inicié sesión en su cuenta de Jumpstore</h2>

                    <div class="field username">
                        <input type="text" placeholder="Nombre de usuario">
                    </div>

                    <div class="field email">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="field psw">
                        <input type="password" placeholder="Contraseña">
                    </div>
                    
                    <div class="field cancelar">
                        <button type="reset">Borrar datos</button>
                    </div>
                    <div class="field registrar">
                        <button type="button">
                            <a href="/" style="text-decoration: none; color: inherit;">Iniciar sesión</a>
                        </button>
                    </div>
                    <div class="miembro">
                        ¿No tienes cuenta?
                        <a href="/register" style="color: black; text-decoration-line: underline !important;">Registrarse</a>
                    </div>
                   
                </form>
            </div>    
        </div>
    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
</body>
</html>